{% extends "base" %}
{% block title %}
    #{{ issue.id }} - {{ issue.summary }} - {{ site_name() }}
{% endblock title %}
{% block content %}
    <div class="container">
        <h1 class="mb-3 fw-normal">{{ issue.summary }}</h1>
        
        {{ issue.description | render_markdown }}
    </div>
{% endblock content %}